SPOTIFY_PLAYLIST_CLIENT_ID=
SPOTIFY_PLAYLIST_CLIENT_SECRET=
SPOTIFY_PLAYBACK_CLIENT_ID=
SPOTIFY_PLAYBACK_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://127.0.0.1
TARGET_PLAYLIST_ID=
DISCORD_BOT_TOKEN=
ALERT_CHANNEL_ID=       
ALERT_ROLE_ID=   