SPOTIFY_PLAYLIST_CLIENT_ID=PLAYLIST ACCOUNT CLIENT ID HERE
SPOTIFY_PLAYLIST_CLIENT_SECRET=PLAYLIST ACCOUNT CLIENT SECRET HERE
SPOTIFY_PLAYBACK_CLIENT_ID=QUEUE ACCOUNT CLIENT ID HERE
SPOTIFY_PLAYBACK_CLIENT_SECRET=QUEUE ACCOUNT CLIENT SECRET HERE
SPOTIFY_REDIRECT_URI=https://127.0.0.1
TARGET_PLAYLIST_ID=PLAYLIST ID HERE
DEVICE_INDEX=DEVICE NUMBER HERE
