# Private Stuff (Keep Safe)
.env
.cache-playlist
.cache-playback
MainPrivateRelease.py
requirements-private.txt

# Logs
logs/song_requests.txt


# Python
__pycache__/
*.pyc
SongBlacklist.py

# Other
To Do.txt
venv-public

